/* Outfit  */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(212, 231, 230);
}

.container {
  display: flexbox;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  width: 70%;
}

.title {
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
}

.input-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 2rem 3rem;
}

input {
  padding: 0.2rem;
}

label {
  margin-right: 0.2em;
  font-family: 'outfit','monospace','sans-serif';
}

.btn {
  background-color: rgb(32, 146, 32);
  padding: 0rem 1rem;
  margin-left: 0.5em;
  color: white;
  font-weight: 800;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 0.2rem;
}

.lorem-text p {
  color: black;
  text-align: justify;
  margin-bottom: 3rem;
}